@import "tailwindcss";
/* Custom Scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #141414;
}

::-webkit-scrollbar-thumb {
  background: #e50914; /* Netflix Red */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b20710;
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #e50914 #141414;
}